@{
    ViewBag.Title = "Home Page";
}
    <center>
        <div style="height:300px">
            
        </div>
        <div style="height:300px">
            <h1>Ski jumps show table App</h1>
            <p>
                <h2> <a href="@Url.Action("Index", "SkiJumpsResultTables")">Get start</a></h2>
            </p>
        </div>
    </center>